
@import url($CDN-URL + '/icons/fontawesome-free-6.2.0-web/css/fontawesome.min.css')
@font-face
  font-family 'Font Awesome 6 Free'
  src url($CDN-URL + '/icons/fontawesome-free-6.2.0-web/webfonts/fa-solid-900.woff2') format('woff2')
i
  &.fa
    color var(--text-color-sub)
    font-size 13px
