// vuepress-theme-reco
.theme-container
  .loading-wrapper
    z-index 100 !important //无效
.home-blog
  .hero
    h1
      margin 2.5rem 0 !important
    .description
      margin 1.8rem 1rem !important
@media (min-width: 720px) and (max-width: 1159px)
  .home-blog
    .home-blog-wrapper
      margin 20px !important
[style*="--mask-color:#000"]
  .home-blog
    .hero
      .mask
        background-image url('/images/banner-gargantua.jpg') !important

// APlayer(vuepress-plugin-meting)
.aplayer
  background-color var(--background-color) !important
  .aplayer-body, .aplayer-list li
    background-color var(--background-color) !important
  .aplayer-list
    border 1px solid var(--border-color) !important
  .aplayer-info, .aplayer-list li
    border-top-color var(--border-color) !important
  .aplayer-list-title, .aplayer-title
    color var(--text-color) !important


