// 主题颜色
$accentColor = #6666ff
// 文本颜色
$textColor = #6666ff
// 进度条颜色
$nprogressColor = #00BFFF
// 边框线颜色
$borderColor = red
// 代码块背景色
$codeBgColor = #282c34
// 定制浅色题颜色
// html.light
//   div[class*="language-"]
//     background-color #f8f8f8
//     &::before
//       color #ccc
//     &.line-numbers-mode::after
//       background-color #f8f8f8
//       border-right-color #fff
//     &.line-numbers-mode .line-numbers-wrapper
//       color: #ccc
//     pre[class*="language-"] code
//       color #525252
// 悬浮块背景色
$backgroundColor = green
